name: Resyntax Autofixer

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 2"

jobs:
  autofix:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.6.0
      - uses: Bogdanp/setup-racket@v1.11
        with:
          version: current
          local_catalogs: $GITHUB_WORKSPACE
          dest: '"${HOME}/racketdist-current-CS"'
          sudo: never
      - name: Install and setup
        run: |
          raco pkg install -i --auto --no-setup --skip-installed gui-test
          raco pkg update --auto --no-setup gui-doc gui-lib gui text-table
          raco setup gui-doc gui-lib gui-test gui text-table
      - name: Create a Resyntax pull request
        uses: jackfirth/create-resyntax-pull-request@v0.5.2
        with:
          private-key: ${{ secrets.RESYNTAX_APP_PRIVATE_KEY }}
